src/main/app/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:spring="http://www.springframework.org/schema/beans" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	version="EE-3.7.1" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd">

<!-- In this file you should declare all your inbound endpoints and from here control the access to your application -->

    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="${http.port}" doc:name="HTTP Listener Configuration"/>
    <flow name="endpointsFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/generatereport" doc:name="Start Report Generation">
            <http:response-builder statusCode="200"/>
        </http:listener>
        <flow-ref name="mainFlow" doc:name="Call mainFlow" doc:description="mainFlow"/>
    </flow>

    
      <flow name="outboundFlow"  doc:description="This is the simpliest output point to push the result of the data processing. 
Here you should: 
	* Call external systems through outbound endpoints
Here you should not: 
	* Perform generic data transformation

The outbountFlow is in this file in order to maintain the logical abstraction of the Template.">
        <set-attachment attachmentName="${attachment.name}" value="#[payload]" contentType="text/plain" doc:name="Attach report to Email" doc:description="Set CSV as attachment"/>
        <set-payload value="${mail.body}" doc:name="Set mail body"/>
        <smtp:outbound-endpoint host="${smtp.host}" port="${smtp.port}" user="${smtp.user}" password="${smtp.password}" to="${mail.to}" from="${mail.from}" subject="${mail.subject}" responseTimeout="10000" connector-ref="gmailConnector" doc:name="Send mail"/>
        <remove-attachment attachmentName="${attachment.name}" doc:name="Remove attachment"/>
    </flow>

    
    
</mule>
